body {
    background-color: #111;
    background-image: url(/static/images/bg1.jpg);
    background-position: center top;
    color: #eee;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
}

h1, h2, h3 {
    font-weight: 700;
}

.sep {
    text-align: center;
    margin: 30px 0;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        background-color: #0A0A0A;
        width: 730px;
        padding: 0 50px;
        -webkit-box-shadow: 0px 10px 26px 22px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 10px 26px 22px rgba(0,0,0,0.75);
        box-shadow: 0px 10px 26px 22px rgba(0,0,0,0.75);
    }
}

#header {
    margin-top: 50px;
    text-align: center;
}

#menu {
    margin-top: 50px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    width: 126px;
    margin: 0;
    padding: 0;
}

#menu a {
    display: inline-block;
    width: 126px;
    color: #eee;
}

#menu li:hover,
#menu li.active {
    background-color: #eee;
}

#menu li:hover a,
#menu li.active a {
    color: #050505;
    text-decoration: none;
}

#content {
    margin-top: 30px;
}

#posts {
}

#footer {
    text-align: center;
    margin: 50px 0;
}

