{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Banda de Hard Rock de Ciudad Evita">
    <meta name="keywords" content="gordon cooper,seba dominguez,tano richi,lucas vidarte,leo vidarte,hard rock,hard,rock,ciudad evita">
    <title>Gordon Cooper</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <style type="text/css" media="screen">
        body {
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            font-size: 30px;
            margin: 0;
            background-image: url(/static/bg1.png);
            background-position: top center;
            background-color: #111;
            color: #800;
            text-align: center;
        }
    </style>
</head>
<body>
    <p><img src="{% static 'gordon_cooper.png' %}"/></p>
    <p>
        Seba Dominguez | Voz
        <br />
        "El Tano" Richi | Batería
        <br />
        Lucas Vidarte | Bajo
        <br />
        Leo Vidarte | Guitarra
    </p>
    <p><a href="https://soundcloud.com/gordoncooper" title="Escuchanos"><img src="/static/soundcloud.png"></a></p>
    <p style="color:#fff;font-size:24px">22 de noviembre | Migue Bar, Aldo Bonzi</p>
</body>
</html>
