<!docmenu html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Gordon Cooper{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' menu='text/css'>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div id="header">
            <img src="{{ STATIC_URL }}images/gordon_cooper.png">
        </div>
        <div id="menu">
            <ul>
                <li {% if menu == 'home' %}class="active"{% endif %}>
                    <a href="/">Home</a>
                </li><li {% if menu == 'download' %}class="active"{% endif %}>
                    <a href="/downloads">Downloads</a>
                </li><li {% if menu == 'diary' %}class="active"{% endif %}>
                    <a href="/agenda">Agenda</a>
                </li><li {% if menu == 'gallery' %}class="active"{% endif %}>
                    <a href="/galeria">Galería</a>
                </li><li {% if menu == 'contact' %}class="active"{% endif %}>
                    <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
            Todos los derechos reservados ★ Gordon Cooper 2013 - 2014
            {% endblock %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
